*{box-sizing: border-box;}

body{
    color: white;
    background-color:rgb(65, 6, 60)
}

.carteleras{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-decoration: none;

}

.padre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
.Fotos{
    width: 150px;
    height: 200px;
}

.buscador{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    text-decoration: none;
    
}

.navegador{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
    text-decoration: none;
}


.juan {
    padding: 10px;
    background-color:rgb(146, 21, 73);
    color: white;
    border-radius: 25%;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.icono{
    display: flex;
    width: 20px;
    height: 27px;
}

.nombres{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(170, 28, 158);
    color:black;
    border-radius: 25%;

}
/* comentario: el css para el detalle de pelicula */

.titulo_principal{
    font-size: x-large;

}

.marco{
    display: flex;

}
.detalle{
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    color: white;

}

.fotos_detalles{
    flex-direction: row;
    width: 300px;
    height: 350px;

}